@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryPicker {
	min-width: 400px;

	@media (max-width: $breakpoint-m) {
		min-width: 200px;
	}

	.st-StoryPicker__option {
		display: flex;
		padding: 10px 5px;
		background-color: transparent;
		cursor: pointer !important;

		a {
			display: flex;
			width: 100%;
			align-items: center;
		}

		&:hover,
		&:active {
			@include theme-aware('background-color', 'default-picker-option-background-hover');
			text-decoration: none;
		}

		span {
			font-family: $font-merriweather;
			font-weight: bold;
			font-size: 14px;
			@include theme-aware('color', 'story-list-title-color');
		}

		.st-Image {
			&-fallback,
			&-container {
				width: 48px;
				height: 36px;
				margin-right: 12px;
				border-radius: 4px;
				object-fit: cover;
			}

			&-full {
				object-fit: cover;
			}
		}
	}

	.st-StoryPicker__control {
		flex-direction: row-reverse;
		cursor: initial;
		@include theme-aware('background', 'story-item-background');
		@include theme-aware('border', 'story-item-border');

		&--menu-is-open,
		&--is-focused {
			box-shadow: 0 0 0 1px $color-primary;
			border-color: $color-primary;
		}

		&:hover {
			border-color: $color-primary;
		}
	}

	&__menu {
		@include theme-aware('background', 'story-item-background');

		&-notice {
			&--no-options {
				@include theme-aware('background', 'story-item-background');
			}
		}
	}

	&__input {
		@include theme-aware('color', 'story-item-username-color');
	}

	&__single-value {
		@include theme-aware('color', 'default-picker-item');
	}

	&__indicator {
		&-separator {
			display: none;
		}
	}

	&__indicators {
		flex-direction: row-reverse;
	}
}
