@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryPicker {
	min-width: 480px;

	@media (max-width: $breakpoint-m) {
		min-width: 200px;
	}

	.st-StoryPicker__option {
		display: flex;
		padding: 8px;
		margin: 2px 8px;
		background-color: transparent;
		cursor: pointer !important;
		border-radius: 6px;
		max-width: 444px;

		a {
			display: flex;
			width: 100%;
			align-items: center;

			&:hover {
				text-decoration: none;
			}
		}

		&:hover,
		&:active {
			@include theme-aware('background-color', 'B300');
		}

		span {
			font-family: $font-merriweather;
			font-weight: bold;
			font-size: 14px;
			@include theme-aware('color', 'G500');
		}

		.st-Image {
			&-fallback,
			&-container {
				width: 48px;
				height: 36px;
				margin-right: 12px;
				border-radius: 4px;
				object-fit: cover;
			}

			&-full {
				object-fit: cover;
			}
		}
	}

	.st-StoryPicker__control {
		flex-direction: row-reverse;
		cursor: initial;
		border: 1px solid;
		@include theme-aware('background', 'B100');
		@include theme-aware('border-color', 'G100');

		&--menu-is-open,
		&--is-focused {
			box-shadow: $focus;
			@include theme-aware('border-color', 'T600');
		}

		&:hover {
			@include theme-aware('border-color', 'T600');
		}
	}

	&__menu {
		@include theme-aware('background', 'B100');
		@include theme-aware('box-shadow', 'card-shadow');

		&-notice {
			&--no-options {
				@include theme-aware('background', 'B100');
			}
		}
	}

	&__input {
		@include theme-aware('color', 'G900');
	}

	&__single-value {
		@include theme-aware('color', 'G900');
	}

	&__indicator {
		@include theme-aware('color', 'G400');

		&-separator {
			display: none;
		}
	}

	&__indicators {
		flex-direction: row-reverse;
	}

	&__placeholder {
		@include theme-aware('color', 'G400');
	}
}
