@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-SignUp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: $story-preview-width-medium;
	padding: 36px;
	margin: 0 auto;
	border-radius: 6px;
	@include theme-aware('box-shadow', 'modal-box-shadow');

	@media (max-width: $breakpoint-sm) {
		width: $story-preview-width-small;
	}

	h4 {
		font-family: $font-merriweather;
		font-weight: 900;
		font-size: 24px;
		margin-bottom: 24px;
		@include theme-aware('color', 'modal-title-color');
	}

	a {
		font-size: 14px;
		text-align: left;
		font-weight: bold;
	}

	.st-IconButton {
		margin: 15px 0;
		min-height: 50px;

		&-link {
			display: flex;
		}
	}

	&-divider {
		text-align: center;
		color: $color-grey-medium;
		font-size: 14px;
	}

	&-terms {
		display: flex;
		justify-content: space-between;
		margin: 12px 0;
	}
}
