@import 'styles/variables.scss';
@import 'styles//scrollbar.scss';
@import 'styles/mixins/tab-links.scss';

.st-Languages {
	width: 100%;
	display: flex;
	flex-wrap: nowrap !important;
	flex-direction: column;
	position: sticky;
	top: 80px;
	height: calc(100vh - 100px);
	overflow-y: hidden;

	@include scrollbars(6px, $color-grey-lighter, $color-grey-border);

	&:hover {
		overflow-y: auto;
	}

	@media (max-width: $breakpoint-m) {
		height: auto;
	}

	> span {
		font-size: 14px;
		color: $color-grey-light;
		font-weight: 600;
		padding-left: 16px;
	}

	.nav-link {
		@include sidebar-link;
	}
}
