@import 'styles/variables.scss';

.st-Marketplace {
	display: flex;
	flex-direction: column;

	&-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 32px;

		.st-FloatingInput {
			margin-bottom: 0 !important;

			@media (max-width: $breakpoint-m) {
				width: 100%;
			}
		}

		.st-HorizontalList {
			@media (max-width: $breakpoint-m) {
				margin: 24px 0;
				width: 100%;
			}
		}

		@media (max-width: $breakpoint-m) {
			flex-direction: column-reverse;
		}
	}

	&-market {
		display: flex;
		margin-top: 24px;

		@media (max-width: $breakpoint-m) {
			flex-direction: column;
			margin-top: 0;
		}

		&-categories {
			flex-basis: 20%;

			margin-right: 36px;

			@media (max-width: $breakpoint-m) {
				flex-basis: 100%;
			}
		}

		&-items {
			display: flex;
			flex-direction: column;
			flex-basis: 80%;
			align-content: space-between;

			&-loadmore {
				display: flex;
				flex-wrap: wrap;

				@media (max-width: $breakpoint-sm) {
					justify-content: space-evenly;
				}
			}

			.st-Typography-bold {
				margin-bottom: 24px;
			}

			@media (max-width: $breakpoint-m) {
				flex-basis: 100%;
				// flex-direction: row;
				width: 100%;

				.st-Typography-bold {
					display: none;
				}
			}
		}
	}
}
