@import '../../styles/variables.scss';

.st-NewStory {
	background: $box-background-primary;
	padding: 20px;
	margin: 40px 0;

	.st-Uploader {
		margin-top: 20px;
	}

	&-title {
		display: flex;
		align-items: center;
		justify-content: center;

		.st-FloatingInput {
			margin-right: 15px;
			margin-bottom: 0;
		}

		@media (max-width: $tablet-width) {
			flex-direction: column;

			.st-CategoryPicker,
			.st-FloatingInput {
				width: 100%;
				margin: 10px 0;
			}
		}
	}

	&-uploader {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&-editor {
		margin: 20px 0;
	}

	&-button {
		margin-top: 20px;
		display: flex;
		justify-content: flex-end;
	}
}
