@import 'styles/variables.scss';

.st-SideBar {
	display: flex;
	flex-direction: column;

	&-tabs {
		margin: 0 16px;

		@media (max-width: $breakpoint-m) {
			margin: 0;
		}

		.nav-link {
			color: $color-grey-light;
			font-weight: 600;
			cursor: pointer;
			font-size: 14px;
			padding: 0;
			margin-right: 15px;

			&:hover {
				color: $color-secondary-black;
			}

			&.active {
				color: $color-secondary-black;
				border-bottom: 4px dotted $color-primary;
			}
		}
	}

	.st-Categories,
	.st-Languages {
		> span {
			display: none;
		}

		@media (max-width: $breakpoint-m) {
			flex-direction: row;
			overflow: auto;

			> span {
				display: none;
			}
		}
	}
}
