@import '../../styles/variables.scss';

.st-StoryTabs {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 80px;

	&-tabs {
		.nav {
			margin-bottom: 12px;
		}

		.nav-link {
			color: $color-grey-light;
			font-weight: 600;
			cursor: pointer;
			font-size: 14px;
			padding: 0;
			margin-right: 15px;

			&:hover {
				color: $color-secondary-black;
			}

			&.active {
				color: $color-secondary-black;
				border-bottom: 4px dotted $color-primary;
			}
		}

		.st-SavedStories,
		.st-DraftStories,
		.st-MyStories {
			> span {
				display: none;
			}

			.st-NoStories {
				display: none;
			}
		}

		> a {
			&:last-child {
				display: flex;
				justify-content: center;
			}
		}
	}
}
