@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryItem {
	width: $story-preview-width-medium;
	min-height: $story-preview-height;
	margin: 12px 0 0;
	border-radius: 6px;
	box-shadow: 2px 2px 12px rgba(35, 31, 26, 0.08);
	display: flex;
	flex-direction: column;
	position: relative;
	@include theme-aware('background', 'story-item-background');
	@include theme-aware('color', 'story-item-description-color');

	.st-DropdownButton {
		position: absolute;
		right: 10px;
		top: 20px;

		@media (max-width: $breakpoint-sm) {
			.dropdown {
				&-divider {
					display: none;
				}

				&-item {
					&:first-child {
						display: none;
					}
				}
			}
		}
	}

	&:last-child {
		margin-bottom: 12px;
	}

	@media (max-width: $breakpoint-sm) {
		width: $story-preview-width-small;
	}

	&-author {
		display: flex;
		align-items: center;
		padding: 15px;

		.st-UserAvatar {
			.st-Image,
			.badge {
				margin-right: 16px;
			}
		}

		&-info {
			display: flex;
			flex-direction: column;

			span {
				@include theme-aware('color', 'story-item-created-color');

				&:first-child {
					font-weight: bold;
					font-family: $font-merriweather;
					@include theme-aware('color', 'story-item-username-color');
				}
			}
		}
	}

	&-description {
		word-break: break-word;
		// min-height: 70px;
		padding: 0 15px 15px;
		// flex-grow: 1;
	}

	&-cover {
		height: 250px;

		.st-Image {
			width: 100%;
			height: 250px;
			object-fit: cover;

			&-fallback {
				object-fit: cover;
				border-left: none;
				border-right: none;
				font-size: 24px;
			}
		}
	}

	&-footer {
		width: 100%;
		padding: 15px;
		min-height: 40px;
		display: flex;
		flex-direction: column;
		margin-bottom: 8px;

		&-title {
			display: flex;
			flex-direction: column;

			span {
				font-size: 18px;
				font-family: $font-merriweather;
				font-weight: bold;
				line-height: 22px;
				@include theme-aware('color', 'story-item-title-color');
			}
		}

		&-categories {
			span {
				@include theme-aware('color', 'story-item-categories-color');
				margin-right: 16px;
				cursor: pointer;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&-actions {
			display: flex;
			justify-content: space-between;
			margin: 8px 0;

			.st-IconButton {
				border: none;
				box-shadow: none !important;
				background: none !important;
				font-size: 24px;
				padding: 0;
				color: $color-grey-light;

				&:first-child {
					margin-right: 24px;

					&:hover {
						color: $color-secondary-red !important;
					}

					&.active {
						color: $color-secondary-red !important;
						background: none !important;
					}
				}

				&:last-child {
					&:hover {
						color: $color-secondary-yellow-dark !important;
					}

					&.active {
						color: $color-secondary-yellow-dark !important;
						background: none !important;
					}
				}
			}
		}

		&-stats {
			display: flex;
			justify-content: space-between;
			cursor: pointer;
			@include theme-aware('color', 'story-item-stats-color');
			// margin: 8px 0;

			span {
				&:hover {
					text-decoration: underline;
				}
			}

			&-left {
				span {
					&:first-child {
						margin-right: 24px;
					}
				}
			}
		}
	}

	&-likes,
	&-comments {
		@include theme-aware('color', 'story-item-username-color');

		.st-UserAvatar {
			.st-Image,
			.badge {
				margin-right: 16px;
			}
		}
	}

	&-likes {
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;
			align-items: center;
			margin: 15px 0;

			span {
				font-weight: bold;
				font-family: $font-merriweather;
				@include theme-aware('color', 'story-item-username-color');
			}
		}
	}

	&-comments {
		display: flex;
		flex-direction: column;

		&-posted {
			max-height: 500px;
			overflow: auto;
			word-break: break-word;

			&-item {
				display: flex;
				align-items: center;
				margin: 15px 0;
				text-decoration: none !important;

				&-user {
					display: flex;
					flex-direction: column;
					text-align: left;
					width: 100%;
					position: relative;

					&-info {
						span {
							&:first-child {
								font-weight: bold;
								font-family: $font-merriweather;
								margin-right: 8px;
								@include theme-aware('color', 'story-item-username-color');
							}

							&:last-child {
								font-size: 14px;
								@include theme-aware('color', 'story-item-created-color');
							}
						}
					}

					.st-IconButton {
						position: absolute;
						right: 5px;
						font-size: 12px;
						background: none;
						// border: 1px solid transparent;
						box-shadow: none;

						&:hover {
							box-shadow: $box-shadow-light;
						}
					}

					span {
						font-size: 14px;
						@include theme-aware('color', 'story-item-description-color');
					}
				}
			}
		}

		&-new {
			display: flex;
			align-items: center;
			padding: 10px;

			&-comment {
				display: flex;
				align-items: center;

				.st-FloatingInput {
					margin-bottom: 0;
					//border: 1px solid $color-grey-border;
				}

				.st-IconButton {
					background: transparent !important;
					outline: none;
					box-shadow: none !important;
					border: none;
					color: $color-primary;
					min-width: 80px;

					&:hover {
						border: none;
					}
				}
			}
		}
	}
}
