@import '../../styles/variables.scss';

.st-Story {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: $story-preview-width-large;
	margin: 0 auto;

	.st-StoryItem {
		width: $story-preview-width-large;
		border: none;
		box-shadow: none;

		@media (max-width: $breakpoint-sm) {
			width: $story-preview-width-small;
		}

		&-cover {
			height: 384px;

			.st-Image {
				border-radius: 12px;
				height: 350px;

				&-fallback {
					border-radius: 12px;
					border: 1px solid $color-grey-border;
				}
			}
		}

		&-author,
		&-description,
		&-footer {
			padding-left: 0;
			padding-right: 0;
		}

		.st-DropdownButton {
			right: 0;
		}
	}

	.st-Pagination {
		width: 100%;
		overflow-x: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 20px 0;
		min-height: 50px;

		.pagination {
			margin: 0;
		}

		.page {
			&-item {
				.page-link {
					background-color: #fff !important;
					border-radius: 6px;
					padding: 10px 20px;
					border: 1px solid $color-grey-border;
					color: $color-grey-light;
					margin: 0 6px;
					min-width: 90px;
					min-height: 40px;

					&:focus {
						box-shadow: none;
					}

					&:first-child,
					&:last-child {
						min-width: unset;
					}
				}

				&.active {
					.page-link {
						border: 1px solid $color-grey-border;
						box-shadow: $box-shadow-light;
						color: $color-grey-medium;
					}
				}
			}
		}
	}

	&-pages {
		margin-bottom: 20px;
		color: $color-grey-light;
	}

	.st-TextViewer {
		width: 100%;
	}
}
