@import '../../styles/variables.scss';

.st-StoryThumb {
	display: flex;
	align-items: center;
	border: 1px solid $color-grey-border;
	border-radius: 6px;
	margin: 8px 0;
	height: 144px;
	min-width: $story-preview-width-small;
	max-width: $story-preview-width-medium;
	cursor: pointer;
	position: relative;
	// flex: 1 1;

	.st-StoryDropdownButton {
		position: absolute;
		top: 5px;
		right: 5px;
	}

	&:hover {
		text-decoration: none;
	}

	&-cover {
		height: 100%;

		.st-Image {
			width: 120px;
			height: 100%;
			object-fit: cover;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;

			&-fallback {
				width: 120px;
				// border: none;
			}
		}
	}

	&-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 12px;
		height: 100%;
		width: 100%;

		&-description {
			display: flex;
			flex-direction: column;
			word-break: break-word;
			max-height: 100px;
			overflow: hidden;

			> span {
				color: $color-grey-medium;

				&:first-child {
					font-family: $font-merriweather;
					font-weight: bold;
					font-size: 16px;
					color: $color-grey-black;
				}
			}
		}

		&-created {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: 6px;

			span {
				color: $color-grey-medium;
			}
		}
	}
}
