@import '../../../styles/variables.scss';

.st-SavedStoriesPage {
	display: flex;

	> div {
		flex: 1 1;
	}

	&-drafts {
		.st-DraftStories {
			> span {
				color: $color-grey-black;
				font-weight: 600;
				cursor: pointer;
				font-size: 14px;
				padding: 0 15px 0 0;
				margin-bottom: 12px;
				text-transform: capitalize;
			}

			.st-StoryThumb {
				min-height: unset;
				padding: 10px 5px;
				margin: 0;
				height: auto;
				border: none;

				&:hover,
				&:active {
					background: $color-primary-light;
				}

				&-cover {
					.st-Image {
						width: 48px;
						height: 36px;
						margin-right: 12px;
						border-radius: 4px;
						object-fit: cover;
					}
				}

				&-details {
					padding: 0;

					&-description {
						> span {
							&:first-child {
								font-family: $font-merriweather;
								color: $color-grey-medium;
								font-weight: bold;
								font-size: 14px;
							}

							&:last-child {
								display: none;
							}
						}
					}

					&-created {
						display: none;
					}
				}
			}

			&-pagination {
				display: none;
			}
		}

		> a {
			&:last-child {
				display: flex;
				justify-content: center;
			}
		}
	}
}
