@import '../../../styles/variables.scss';

.st-SavedStoriesPage {
	display: flex;

	> div {
		flex: 1 1;
	}

	.st-SavedStories {
		@media (max-width: $breakpoint-m) {
			align-items: center;
		}

		.st-StoryThumb {
			background-color: $color-white;

			&-cover {
				.st-Image {
					&-fallback {
						border-left: none;
						border-top: none;
						border-bottom: none;
					}
				}
			}
		}
	}

	@media (max-width: $breakpoint-m) {
		// padding: 0 10px;

		&-drafts,
		&-holder {
			display: none;
		}
	}

	&-drafts {
		.st-DraftStories {
			margin-right: 16px;

			> span {
				color: $color-grey-black;
				font-weight: 600;
				cursor: pointer;
				font-size: 14px;
				padding: 0 15px 0 0;
				margin-bottom: 12px;
				text-transform: capitalize;
			}

			.st-NoStories {
				display: none;
			}
		}

		> a {
			&:last-child {
				display: flex;
				justify-content: center;
			}
		}
	}
}
