@import 'styles/variables.scss';
@import 'styles//scrollbar.scss';
@import 'styles/mixins/tab-links.scss';

.st-LoadMore {
	&-modal {
		max-height: 500px;
		height: 100%;
		overflow-y: auto;

		@include scrollbars(6px, $color-grey-lighter, $color-grey-border);
	}

	&-pagination {
		display: flex;
		justify-content: center;
		margin: 16px 0;
	}
}
