@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-TextEditor {
	font-family: $font-merriweather;
	caret-color: $color-primary-dark;
	@include theme-aware('color', 'viewer-color');

	&-menu {
		padding: 5px;
		position: absolute;
		z-index: 1;
		top: -10000px;
		left: -10000px;
		margin-top: -6px;
		opacity: 0;
		box-shadow: $box-shadow-light;
		border-radius: 4px;
		transition: opacity 0.75s;
		@include theme-aware('border', 'editor-toolbar-border');
		@include theme-aware('background-color', 'editor-toolbar-background');

		&:before {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			bottom: -4px;
			left: 76px;
			transform: rotate(45deg);
			@include theme-aware('background-color', 'editor-toolbar-background');
		}

		.st-IconButton {
			background: transparent !important;
			border: none !important;
			box-shadow: none !important;
			font-weight: normal;
			@include theme-aware('color', 'editor-toolbar-color');

			&:hover,
			&.active {
				color: $color-grey-black !important;
			}
		}
	}
}
