@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-TextEditor {
	font-family: $font-merriweather;
	@include theme-aware('caret-color', 'G900');
	@include theme-aware('color', 'G800');

	&-menu {
		padding: 8px 10px;
		position: absolute;
		z-index: 1;
		top: -10000px;
		left: -10000px;
		margin-top: -8px;
		opacity: 0;
		border-radius: 6px;
		transition: opacity 0.3s;
		@include theme-aware('box-shadow', 'card-shadow');
		@include theme-aware('background-color', 'B100');

		.st-IconButton {
			@include theme-aware('background-color', 'B100');
			border: none !important;
			box-shadow: none !important;
			font-weight: normal;
			margin: 2px;
			@include theme-aware('color', 'G900');

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				@include theme-aware('color', 'G900');
				@include theme-aware('background-color', 'B300');
			}

			&.active {
				@include theme-aware('color', 'T800');
				@include theme-aware('background-color', 'T200');
			}
		}
	}

	&-toolbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		width: 100%;
		padding: 6px 12px;
		max-width: $app-max-width;
		margin: 0 auto;
		@include theme-aware('background-color', 'B200');

		&-formats {
			.st-IconButton {
				min-width: 40px;
				border: none;
				box-shadow: none;
			}
		}
	}

	span::selection {
		@include theme-aware('background-color', 'text-selection');
	}
}
