@import '../../../styles/variables.scss';

.st-TextEditor {
	font-family: $font-merriweather;

	&-menu {
		padding: 5px;
		position: absolute;
		z-index: 1;
		top: -10000px;
		left: -10000px;
		margin-top: -6px;
		opacity: 0;
		background-color: #fff;
		border: 1px solid $color-grey-border;
		box-shadow: $box-shadow-light;
		border-radius: 4px;
		transition: opacity 0.75s;

		&:before {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			background: #fff;
			bottom: -4px;
			left: 76px;
			transform: rotate(45deg);
		}

		.st-IconButton {
			background: transparent !important;
			border: none !important;
			box-shadow: none !important;
			color: $color-grey-medium;
			font-weight: normal;

			&:hover,
			&.active {
				color: $color-grey-black !important;
			}
		}
	}
}
