@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-SavedStories {
	display: flex;
	flex-direction: column;

	> span {
		font-weight: 600;
		text-transform: uppercase;
		@include theme-aware('color', 'saved-story-title');
	}

	&-pagination {
		display: flex;
		justify-content: center;
		margin: 16px 0;
	}
}
