@import '../../styles/variables.scss';

.st-UserProfile {
	background: $box-background-primary;
	padding: 20px;
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	.st-Uploader {
		margin: 10px 0;
	}

	&-info {
		display: flex;
		align-items: center;
		flex-direction: column;

		> div {
			display: flex;

			@media (max-width: $tablet-width) {
				flex-direction: column;
			}
		}

		.st-FloatingInput {
			margin-right: 15px;
		}
	}
}
