@import '../../styles/variables.scss';

.st-UserProfile {
	display: flex;
	flex-direction: column;
	align-items: center;

	&-user {
		width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 36px;
		min-height: 150px;
		max-width: $story-preview-width-medium;

		@media (max-width: $breakpoint-sm) {
			max-width: $story-preview-width-small;
		}

		&-info {
			display: flex;
			flex-direction: column;

			&-description {
				display: flex;
				flex-direction: column;
				margin-bottom: 24px;

				span {
					font-family: $font-merriweather;
					font-weight: bold;
					color: $color-grey-black;
					font-size: 18px;

					&:last-child {
						color: $color-grey-medium;
						font-size: 14px;
						font-weight: normal;
						font-family: $font-lato;
					}
				}
			}

			&-stats {
				display: flex;
				margin-bottom: 24px;

				> div {
					margin-right: 32px;

					@media (max-width: $breakpoint-sm) {
						margin-right: 16px;
					}

					&:last-child {
						margin-right: 0;
					}
				}

				&-stories {
					display: flex;
					flex-direction: column;
					align-items: center;

					span {
						font-weight: bold;
						color: $color-grey-black;
						font-size: 18px;

						&:last-child {
							color: $color-grey-medium;
							font-size: 14px;
							font-weight: normal;
							font-family: $font-lato;
						}
					}
				}
			}
		}

		.st-UserAvatar {
			.st-Image,
			.badge {
				font-size: 30px;
				width: 100px;
				height: 100px;
				margin-right: 24px;
			}
		}
	}
}
