@import 'styles/variables.scss';
@import 'styles//scrollbar.scss';
@import 'styles/mixins/tab-links.scss';
@import 'styles/themes/mixins.scss';

.st-SideNav {
	width: 100%;
	display: flex;
	flex-wrap: nowrap !important;
	flex-direction: column;
	position: sticky;
	top: 80px;
	height: calc(100vh - 140px);
	overflow-y: hidden;

	@include scrollbars(6px, 'G200', 'G100');

	svg {
		margin-right: 12px;
	}

	&:hover {
		overflow-y: auto;
	}

	@media (max-width: $breakpoint-m) {
		height: auto;
		flex-direction: row;
		overflow: auto;
		margin-top: 6px;

		.st-Typography-bold {
			display: none;
		}

		.nav-item {
			&:nth-child(2) {
				.nav-link {
					padding-left: 0;
				}
			}

			&:last-child {
				.nav-link {
					margin-right: 0;
				}
			}
		}
	}

	@media (max-width: $breakpoint-sm) {
		max-width: $story-preview-width-large;
		margin: 0 auto;
	}

	.nav-link {
		@include sidebar-link;
	}
}
