@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-LanguagePicker {
	min-width: 200px;
	display: flex;
	flex-flow: column;
	min-height: 50px;

	label {
		@include theme-aware('color', 'G600');
		font-size: 14px;
		margin-bottom: 4px;
	}

	&__option {
		cursor: pointer;

		&:hover,
		&--is-focused {
			@include theme-aware('background-color', 'B300');
		}
	}

	&__single-value {
		@include theme-aware('color', 'G600');
	}

	&__placeholder {
		font-size: 14px;
	}

	&__control {
		height: 36px;
		cursor: pointer;
		border: 1px solid;
		@include theme-aware('background-color', 'B100');
		@include theme-aware('border-color', 'G100');

		&--menu-is-open,
		&--is-focused {
			box-shadow: $focus;
			@include theme-aware('border-color', 'T600');
		}

		&:hover {
			@include theme-aware('border-color', 'T600');
		}
	}
}
