@import '../../../styles/variables.scss';

.st-Categories {
	width: 100%;
	display: flex;
	flex-wrap: nowrap !important;
	flex-direction: column;
	position: sticky;
	top: 80px;

	> span {
		font-size: 14px;
		color: $color-grey-light;
		font-weight: 600;
	}

	.nav-link {
		color: $color-grey-light;
		font-weight: 600;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 14px;
		padding-left: 0;

		&:hover {
			color: $color-secondary-black;
		}

		&.active {
			color: $color-secondary-black;
		}
	}
}
