@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-Image {
	&-fallback {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		background-color: transparent;
		width: 100%;
		height: 100%;
		@include theme-aware('border', 'story-item-border');
	}
}
