@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-MarketplaceItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: $market-item-width-large;
	height: $market-item-height;
	box-shadow: $box-shadow-default;
	margin: 0 16px 16px 0;
	border: 1px solid;
	border-radius: 6px;
	padding: 16px;
	align-self: flex-start;
	@include theme-aware('background-color', 'B100');
	@include theme-aware('border-color', 'B100');

	@media (max-width: $breakpoint-sm) {
		margin-right: 8px;
		margin-bottom: 8px;
		width: 46%;
	}

	&:hover {
		cursor: pointer;
		@include theme-aware('border-color', 'T600');
	}

	&.active {
		border: 1px solid;
		@include theme-aware('background-color', 'B200');
		@include theme-aware('border-color', 'G100');
		box-shadow: none;

		&:hover {
			cursor: initial;
		}
	}

	.st-Image {
		&-container {
			width: 100%;
			height: 100%;
			background-color: transparent;
		}
	}

	.st-Typography {
		&-tertiary {
			margin-bottom: 8px;
		}
	}
}
