.st-PagePlaceholder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

	svg {
		margin-bottom: 36px;
	}

	.st-Typography-variant__action1 {
		max-width: 356px;
		text-align: center;
	}

	.st-IconButton {
		margin-top: 36px;
	}
}
