@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryWritter {
	display: flex;
	flex-direction: column;
	max-width: 640px;
	margin: 0 auto;

	@media (max-width: $breakpoint-sm) {
		padding: 10px;
	}

	&-header {
		&-saving {
			min-height: 24px;
			margin: 8px 0;
		}

		.st-FloatingInput {
			input {
				border: none;
				outline: none;
				font-size: 24px;
				box-shadow: none;
				padding: 0;
				font-family: $font-merriweather;
				@include theme-aware('color', 'G900');
				@include theme-aware('background-color', 'B200');

				&::placeholder {
					font-size: 24px;
					@include theme-aware('color', 'G400');
				}
			}
		}

		.st-DropdownButton {
			.btn {
				box-shadow: none;
				border: 1px solid;
				@include theme-aware('background-color', 'B100');
				@include theme-aware('border-color', 'B100');
				@include theme-aware('color', 'G400');

				&:hover,
				&:active:not(:disabled):not(.disabled):active {
					@include theme-aware('background-color', 'B300');
					@include theme-aware('border-color', 'B300');
				}
			}

			.dropdown {
				&-item {
					&:nth-child(3),
					&:last-child {
						@include theme-aware('color', 'R58');
					}
				}
			}
		}

		&-publish {
			display: flex;
			justify-content: space-between;

			&-actions {
				display: flex;
				align-items: center;

				@media (max-width: $breakpoint-sm) {
					margin-bottom: 16px;
					justify-content: center;
				}

				.st-StoryPagePicker,
				.st-IconButton,
				.st-DropdownButton {
					margin-right: 16px;
				}

				.st-IconButton {
					&-with-content {
						box-shadow: none;
						border: 1px solid;
						@include theme-aware('background-color', 'B100');
						@include theme-aware('border-color', 'B100');
						@include theme-aware('color', 'G400');

						&:hover,
						&:active {
							@include theme-aware('background-color', 'B300');
							@include theme-aware('border-color', 'B300');

							@include theme-aware('color', 'G400');
						}
					}
				}

				&-buttons {
					display: flex;
					align-items: center;
					margin-top: -1px;

					> span {
						&:last-child {
							@include theme-aware('color', 'G400');
						}
					}
				}
			}
		}

		&-previewModal {
			.modal {
				&-dialog {
					max-width: 700px;

					.st-StoryItem {
						.st-StoryDropdownButton {
							display: none;
						}

						&-footer {
							&-actions {
								display: none;
							}
						}
					}
				}
			}
		}

		&-publishModal {
			.st-Uploader {
				@include theme-aware('background-color', 'B200');

				&-thumbs {
					&-item {
						.st-Image {
							&-container,
							&-fallback {
								height: 200px;
							}
						}
					}
				}
			}
		}
	}

	&-writter {
		padding-bottom: 200px;
		font-size: 16px;
		line-height: 28px;
	}
}
