@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryWritter {
	display: flex;
	flex-direction: column;
	max-width: 640px;
	margin: 0 auto;

	@media (max-width: $breakpoint-sm) {
		padding: 10px;
	}

	&-header {
		.st-FloatingInput {
			input {
				border: none;
				outline: none;
				font-size: 24px;
				box-shadow: none;
				padding: 0;
				font-family: $font-merriweather;
				@include theme-aware('color', 'writter-title-color');
				@include theme-aware('background-color', 'writter-title-background');

				&::placeholder {
					font-size: 24px;
				}
			}
		}

		.st-DropdownButton {
			.btn {
				color: $color-grey-light;
				box-shadow: none;
				@include theme-aware('background-color', 'story-pagepicker-background');
				@include theme-aware('border', 'story-pagepicker-button-border');

				&:hover,
				&:active:not(:disabled):not(.disabled):active {
					@include theme-aware('background-color', 'story-pagepicker-background-hover');
					@include theme-aware('border', 'story-pagepicker-button-border');
					color: $color-grey-light;
				}
			}

			.dropdown {
				&-item {
					&:nth-child(3),
					&:last-child {
						color: $color-secondary-red;
					}
				}
			}
		}

		&-publish {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;

			@media (max-width: $breakpoint-sm) {
				flex-direction: column;
				align-items: center;
			}

			&-actions {
				display: flex;

				@media (max-width: $breakpoint-sm) {
					margin-bottom: 16px;
					justify-content: center;
				}

				.st-StoryPagePicker,
				.st-IconButton,
				.st-DropdownButton {
					margin-right: 16px;
				}

				.st-IconButton {
					&-with-content {
						color: $color-grey-light;
						box-shadow: none;
						@include theme-aware('background-color', 'story-pagepicker-background');
						@include theme-aware('border', 'story-pagepicker-button-border');

						&:hover,
						&:active {
							@include theme-aware(
								'background-color',
								'story-pagepicker-background-hover'
							);
							@include theme-aware('border', 'story-pagepicker-button-border');
							color: $color-grey-light !important;
						}
					}
				}

				&-buttons {
					display: flex;
					align-items: center;

					> span {
						&:last-child {
							color: $color-secondary-green;
						}
					}
				}
			}
		}

		&-previewModal {
			.modal {
				&-dialog {
					max-width: 700px;

					.st-StoryItem {
						.st-StoryDropdownButton {
							display: none;
						}

						&-footer {
							&-actions {
								display: none;
							}
						}
					}
				}
			}
		}

		&-publishModal {
			.st-Uploader {
				&-thumbs {
					&-item {
						.st-Image {
							&-container,
							&-fallback {
								height: 200px;
							}
						}
					}
				}
			}
		}
	}

	&-writter {
		padding-bottom: 200px;
		font-size: 18px;
		line-height: 28px;
	}
}
