@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-FloatingInput {
	display: flex;
	flex-flow: column;
	justify-content: center;
	min-height: 50px;

	&-margin {
		&__normal {
			&.st-FloatingInput {
				margin-bottom: 12px !important;
			}
		}

		&__dense {
			&.st-FloatingInput {
				margin-bottom: 6px !important;
			}
		}

		&__none {
			&.st-FloatingInput {
				margin-bottom: 0 !important;
			}
		}
	}

	label {
		@include theme-aware('color', 'G600');
		font-size: 14px;
		margin-bottom: 4px;
	}

	.input-group {
		border: 1px solid;
		transition: 0.5s all;
		border-radius: 4px;

		@include theme-aware('border-color', 'G100');
		&-text {
			border: none;
			padding-right: 2px;
			@include theme-aware('background-color', 'B100');
			@include theme-aware('color', 'G400');
		}

		input {
			border: none;
			box-shadow: none;
		}

		&:hover,
		&:focus-within {
			@include theme-aware('border-color', 'T600');
			.input-group {
				&-text {
					@include theme-aware('color', 'T600');
					@include theme-aware('border-color', 'T600');
				}
			}
		}
	}

	textarea,
	input {
		border: 1px solid;
		@include theme-aware('background', 'B100');
		@include theme-aware('color', 'G900');
		@include theme-aware('border-color', 'G100');

		&:hover,
		&:focus {
			@include theme-aware('border-color', 'T600');
		}

		&.is-invalid {
			@include theme-aware('border-color', 'R58');
		}

		&::placeholder {
			font-size: 14px;
			@include theme-aware('color', 'G400');
		}
	}

	.invalid-feedback {
		@include theme-aware('color', 'R58');
	}

	textarea {
		resize: none;
		min-height: 40px;
	}

	input {
		height: 40px;
	}
}
