@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-FloatingInput {
	display: flex;
	flex-flow: column;
	min-height: 50px;

	label {
		@include theme-aware('color', 'G600');
		font-size: 14px;
		margin-bottom: 4px;
	}

	textarea,
	input {
		border: 1px solid;
		@include theme-aware('background', 'B100');
		@include theme-aware('color', 'G900');
		@include theme-aware('border-color', 'G100');

		&:hover,
		&:focus {
			@include theme-aware('border-color', 'T600');
		}

		&.is-invalid {
			@include theme-aware('border-color', 'R58');
		}

		&::placeholder {
			font-size: 14px;
			@include theme-aware('color', 'G400');
		}
	}

	.invalid-feedback {
		@include theme-aware('color', 'R58');
	}

	textarea {
		resize: none;
		min-height: 40px;
	}

	input {
		height: 40px;
	}
}
