@import '../../../styles/variables.scss';

.st-FloatingInput {
	display: flex;
	flex-flow: column;
	min-height: 50px;

	label {
		color: $color-grey-medium;
		font-size: 14px;
		margin-bottom: 4px;
	}

	input {
		height: 36px;
		border: 1px solid $color-grey-border;
	}
}
