$themes: (
	light: (
		B100: $color-grey-100,
		B200: $color-grey-97,
		B300: $color-grey-94,
		B400: $color-grey-84,
		G100: $color-grey-92,
		G200: $color-grey-84,
		G300: $color-grey-72,
		G400: $color-grey-64,
		G500: $color-grey-48,
		G600: $color-grey-36,
		G700: $color-grey-24,
		G800: $color-grey-16,
		G900: $color-grey-12,
		T100: $color-gold-96,
		T200: $color-gold-92,
		T300: $color-gold-84,
		T400: $color-gold-72,
		T500: $color-gold-64,
		T600: $color-gold-48,
		T700: $color-gold-36,
		T800: $color-gold-24,
		T900: $color-gold-12,
		R24: $color-red-24,
		R58: $color-red-58,
		S24: $color-green-24,
		S48: $color-green-48,
		button-shadow: $box-shadow-btn,
		button-shadow-hover: $box-shadow-btn-hover,
		card-shadow: $box-shadow-card-light,
		text-selection: $color-gold-72,
	),
	dark: (
		B100: $color-grey-16,
		B200: $color-grey-12,
		B300: $color-grey-20,
		B400: $color-grey-26,
		G100: $color-grey-16,
		G200: $color-grey-24,
		G300: $color-grey-24,
		G400: $color-grey-36,
		G500: $color-grey-48,
		G600: $color-grey-64,
		G700: $color-grey-72,
		G800: $color-grey-84,
		G900: $color-grey-97,
		T100: $color-gold-16,
		T200: $color-gold-24,
		T300: $color-gold-36,
		T400: $color-gold-64,
		T500: $color-gold-72,
		T600: $color-gold-48,
		T700: $color-gold-36,
		T800: $color-gold-92,
		T900: $color-gold-96,
		R24: $color-red-24,
		R58: $color-red-58,
		S24: $color-green-24,
		S48: $color-green-48,
		button-shadow: $box-shadow-darkbtn,
		button-shadow-hover: $box-shadow-darkbtn-hover,
		card-shadow: $box-shadow-card-dark,
		text-selection: $color-gold-24,
	),
);
