@mixin scrollbars($size, $foreground-color, $background-color) {
	// For Google Chrome
	&::-webkit-scrollbar {
		width: $size;
		height: $size;

		@media (max-width: $breakpoint-m) {
			display: none;
		}
	}

	&::-webkit-scrollbar-thumb {
		@include theme-aware('background-color', $foreground-color);
		border-radius: 6px;
	}

	&::-webkit-scrollbar-track {
		@include theme-aware('background-color', $background-color);
	}

	// For Internet Explorer
	& {
		@include theme-aware('scrollbar-face-color', $foreground-color);
		@include theme-aware('scrollbar-track-color', $background-color);
	}
}
