$tablet-width: 768px;

$flower-thumbnail-width: 280px;
$flower-thumbnail-height: 350px;

$flower-thumbnail-width-xs: 185px;
$flower-thumbnail-height-xs: 230px;

$button-gradient: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
$button-primary: #DF9186;
$color-secondary: #949EA0;
$color-gray: #334144;
$font-ubuntu: 'Ubuntu', sans-serif;

$spacing-s: 30px;
$spacing-xs: 16px;
