@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-DropdownButton {
	> button {
		// border: 1px solid transparent;
		outline: none !important;
		box-shadow: none;
		color: $color-grey-cream;
		border-color: transparent;

		&:hover {
			@include theme-aware('background-color', 'story-pagepicker-background-hover');
			@include theme-aware('border-color', 'story-pagepicker-background-hover');
		}
	}

	.dropdown {
		&-menu {
			padding: 0;
			min-width: 300px;
		}

		&-divider {
			margin: 0;
			@include theme-aware('border-top', 'story-pagepicker-border');
		}

		&-item {
			outline: none;
			font-weight: bold;
			padding: 15px;
			@include theme-aware('color', 'story-pagepicker-color');
			@include theme-aware('background-color', 'story-pagepicker-background');

			&:hover {
				background-color: $color-background-white-grey;
				color: $color-grey-black;
			}

			&:active {
				background-color: $color-grey-border;
				color: $color-grey-black;
			}

			&:disabled {
				color: $color-grey-border !important;
				cursor: not-allowed;
			}
		}
	}
}
