@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-DropdownButton {
	> button {
		// border: 1px solid transparent;
		outline: none !important;
		box-shadow: none;
		@include theme-aware('color', 'G500');
		border-color: transparent;

		&:hover,
		&:active:not(:disabled):not(.disabled):active,
		&:focus {
			@include theme-aware('background-color', 'B300');
			@include theme-aware('border-color', 'B300');
			@include theme-aware('color', 'G500');
		}
	}

	.dropdown {
		&-menu {
			padding: 0;
			min-width: 300px;
			border-radius: 6px;
			border: 1px solid;
			@include theme-aware('box-shadow', 'card-shadow');
			@include theme-aware('background', 'B100');
			@include theme-aware('border-color', 'B100');
		}

		&-divider {
			margin: 0;
			@include theme-aware('border-top', 'B100');
		}

		&-item {
			outline: none;
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			padding: 12px 14px;
			margin: 8px;
			max-width: 280px;
			background-color: transparent;
			@include theme-aware('color', 'G700');

			&:hover,
			&:focus {
				@include theme-aware('background-color', 'B300');
				border-radius: 6px;
			}

			&:disabled {
				@include theme-aware('color', 'G400');
				cursor: not-allowed;
			}
		}
	}
}
