@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-IconButton {
	border-radius: 6px !important;
	font-weight: bold;
	min-width: 100px;
	min-height: 40px;
	outline: none !important;
	box-shadow: $box-shadow-light;

	svg {
		margin-right: 8px;
	}

	&-tertiary {
		@include theme-aware('background-color', 'B200');
		@include theme-aware('border-color', 'B100');
		@include theme-aware('color', 'G500');

		&:hover {
			@include theme-aware('background-color', 'B100');
			@include theme-aware('color', 'G500');
			@include theme-aware('border-color', 'T100');
		}

		&.active {
			@include theme-aware('background-color', 'T100');
			@include theme-aware('color', 'G500');
			@include theme-aware('border-color', 'T100');
			box-shadow: none;

			svg {
				> path {
					@include theme-aware('fill', 'T600');
				}
			}
		}
	}

	&-link {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}

	&-with-content {
		background: none;
		min-width: 36px;
		min-height: 38px;
		width: max-content;
		padding: 5px;

		svg {
			margin-right: 0;
		}
	}
}
