@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-IconButton {
	border-radius: 6px !important;
	font-weight: bold;
	min-width: 100px;
	min-height: 40px;
	outline: none !important;
	box-shadow: $box-shadow-light;

	svg {
		margin-right: 8px;
	}

	&-link {
		display: flex !important;
		justify-content: center;
		align-items: center;
	}

	&-with-content {
		background: none;
		min-width: 36px;
		min-height: 38px;
		width: max-content;
		padding: 5px;

		svg {
			margin-right: 0;
		}
	}
}
