@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-SignUp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: $story-preview-width-medium;
	padding: 36px;
	margin: 0 auto;
	border-radius: 6px;
	border: 1px solid;
	@include theme-aware('border-color', 'G100');

	@media (max-width: $breakpoint-sm) {
		width: 100%;
		height: calc(100% - 60px);
	}

	h4 {
		font-family: $font-merriweather;
		font-weight: 900;
		font-size: 24px;
		margin-bottom: 24px;
		@include theme-aware('color', 'G900');
	}

	a {
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		margin-top: 16px;
		@include theme-aware('color', 'T600');
	}

	.st-IconButton {
		margin-bottom: 16px;
		min-height: 50px;

		&-link {
			display: flex;
		}
	}

	&-divider {
		text-align: center;
		font-size: 14px;
		@include theme-aware('color', 'G400');
	}

	&-terms {
		display: flex;
		justify-content: space-around;
		margin-top: 16px;

		a {
			font-size: 14px;
			font-weight: 400;
			text-align: center;
			@include theme-aware('color', 'G400');
		}
	}
}
