@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-Dashboard {
	&-header {
		display: flex;
		align-items: center;

		> div {
			flex: 1;
		}

		&-welcome {
			@media (max-width: $breakpoint-m) {
				width: 100%;
				margin-bottom: 12px;
			}
		}

		@media (max-width: $breakpoint-m) {
			flex-direction: column;
		}
	}

	&-content {
		display: flex;
		justify-content: space-between;
		margin-top: 24px;

		&:last-child {
			margin-bottom: 16px;
		}

		@media (max-width: $breakpoint-m) {
			flex-direction: column;
		}

		> div {
			flex: 1 1;
			max-width: $story-preview-width-medium;
			width: 100%;
			margin-right: 24px;

			&:nth-child() {
				margin-right: 0;
			}

			@media (max-width: $breakpoint-m) {
				margin-bottom: 16px;
				margin-right: 0;
			}
		}
	}
}
