@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-DraftStories {
	display: flex;
	flex-direction: column;

	> span {
		font-weight: 600;
		text-transform: uppercase;
		@include theme-aware('color', 'G500');
		margin-bottom: 8px;
	}

	&-pagination {
		display: flex;
		justify-content: center;
		margin: 24px 0;
	}
}
