@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-MyStories {
	display: flex;
	flex-direction: column;

	> span {
		font-weight: 600;
		@include theme-aware('color', 'G500');
	}
}
