@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryList {
	display: flex;
	flex-direction: column;

	> span {
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 8px;
		@include theme-aware('color', 'G500');
	}

	&-view-all {
		text-align: center;
	}
}
