@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-Modal {
	display: flex !important;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(10px);

	.modal {
		&-title {
			font-family: $font-merriweather;
			font-weight: bold;
			font-size: 14px;
			@include theme-aware('color', 'modal-title-color');
		}

		&-content {
			min-width: $story-preview-width-medium;
			border-radius: 6px;
			border: none;
			@include theme-aware('background', 'modal-background');

			@media (max-width: $breakpoint-sm) {
				min-width: $story-preview-width-small;
			}
		}

		&-header {
			display: flex;
			align-items: center;
			@include theme-aware('border-bottom', 'modal-border');

			.close {
				outline: none;
				@include theme-aware('color', 'modal-title-color');
			}
		}

		// &-body {

		// }

		&-footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@include theme-aware('border', 'modal-border');
			@include theme-aware('background', 'modal-footer-color');
		}
	}
}
