@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-Modal {
	display: flex !important;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(10px);

	.modal {
		&-title {
			font-family: $font-merriweather;
			font-weight: bold;
			font-size: 14px;
			@include theme-aware('color', 'G600');
		}

		&-content {
			min-width: $story-preview-width-medium;
			border-radius: 6px;
			border: none;
			@include theme-aware('background', 'B200');

			@media (max-width: $breakpoint-sm) {
				min-width: $story-preview-width-small;
			}
		}

		&-header {
			display: flex;
			align-items: center;
			border-bottom: 1px solid;
			@include theme-aware('border-color', 'G100');

			.close {
				outline: none;
				@include theme-aware('color', 'G900');
			}
		}

		&-footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border-top: 1px solid;
			@include theme-aware('border-color', 'G100');
			@include theme-aware('background', 'B200');

			.st-IconButton {
				padding: 0 16px;
				margin-left: 16px;
			}
		}
	}
}
