@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-HorizontalList {
	display: flex;
	flex-direction: column;

	@media (max-width: $breakpoint-m) {
		overflow-x: auto;
	}

	&-items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		@media (max-width: $breakpoint-m) {
			overflow-x: auto;
			flex-wrap: nowrap;
		}

		.nav {
			&-item {
				margin: 0 16px 8px 0;
				cursor: pointer;
				border-radius: 50px;
				width: max-content;
				border: 1px solid;
				@include theme-aware('background-color', 'B100');
				@include theme-aware('border-color', 'B200');

				&:hover {
					@include theme-aware('border-color', 'T600');
				}
			}

			&-link {
				padding: 8px 16px;
				border-radius: 50px;

				&:hover {
					@include theme-aware('background-color', 'T100');
					@include theme-aware('color', 'T600');
				}

				&.active {
					@include theme-aware('background-color', 'T200');
					font-weight: bold;
				}
			}
		}
	}

	&-children {
		display: flex;
		flex-wrap: wrap;
		margin-top: 12px;
	}
}
