@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-DefaultPicker {
	min-width: 200px;
	padding: 0;
	display: flex;
	flex-flow: column;
	min-height: 50px;

	label {
		@include theme-aware('color', 'G600');
		font-size: 14px;
		margin-bottom: 4px;
	}

	&__option {
		cursor: pointer;
		padding: 12px 14px;

		@include theme-aware('color', 'G700');

		&:hover,
		&--is-focused {
			@include theme-aware('background-color', 'B300');
			@include theme-aware('color', 'G700');
		}

		&--is-selected {
			@include theme-aware('background-color', 'T200');
			@include theme-aware('color', 'G900');
		}
	}

	&__single-value {
		@include theme-aware('color', 'G900');
	}

	&__placeholder {
		font-size: 14px;
		@include theme-aware('color', 'G400');
	}

	&__menu {
		@include theme-aware('background', 'B100');
		@include theme-aware('box-shadow', 'card-shadow');

		&-notice {
			&--no-options {
				@include theme-aware('background', 'B100');
			}
		}
	}

	.st-DefaultPicker__indicator {
		@include theme-aware('color', 'T600');

		&:hover {
			@include theme-aware('color', 'T700');
		}

		&-separator {
			display: none;
		}
	}

	.st-DefaultPicker__control {
		height: 36px;
		cursor: pointer;
		border: 1px solid;
		@include theme-aware('background-color', 'B100');
		@include theme-aware('border-color', 'G100');

		&--menu-is-open,
		&--is-focused {
			box-shadow: $focus;
			@include theme-aware('border-color', 'T600');
		}

		&--is-disabled {
			cursor: not-allowed;
			@include theme-aware('background-color', 'B200');

			.st-DefaultPicker__single-value {
				@include theme-aware('color', 'G400');
			}

			.st-DefaultPicker__indicator {
				@include theme-aware('color', 'G400');
			}
		}

		&:hover {
			@include theme-aware('border-color', 'T600');
		}
	}

	&.invalid {
		.st-DefaultPicker__control {
			border: 1px solid;
			@include theme-aware('border-color', 'R58');
		}
	}

	&-error {
		@include theme-aware('color', 'R58');
		font-size: 14px;
	}
}
