@import 'styles/variables.scss';

.st-Guildator {
	position: relative;

	&-character {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 200px;

		&-helmet,
		&-hair,
		&-head,
		&-body,
		&-left,
		&-right,
		&-weapon {
			position: absolute;
		}

		&-helmet {
			z-index: 2;
			width: 100px;
			height: 150px;
			top: 0;
			left: 50px;
		}

		&-hair {
			z-index: 1;
			width: 100px;
			height: 150px;
			top: 0;
			left: 50px;
		}

		&-head {
			z-index: 1;
			width: 100px;
			height: 100px;
			top: 50px;
			left: 50px;
		}

		&-body {
			width: 100px;
			height: 100px;
			top: 100px;
			left: 50px;
		}

		&-left {
			width: 100px;
			height: 150px;
			top: 50px;
			left: 0;
			z-index: 200;
		}

		&-right {
			width: 100px;
			height: 100px;
			top: 50px;
			left: 100px;
		}

		&-weapon {
			width: 100px;
			height: 150px;
			top: 50px;
			left: 100px;
		}
	}
}
