@import 'styles/variables.scss';

.st-Guildator {
	position: relative;
	min-height: 300px;

	&-character {
		position: absolute;
		top: 0;
		left: 0;
		width: 200px;
		height: 200px;

		&-helmet,
		&-head,
		&-body,
		&-weapon {
			position: absolute;
		}

		&-helmet {
			z-index: 2;
			width: 90px;
			height: 76px;
			top: 42px;
			left: 50px;
		}

		&-head {
			z-index: 1;
			width: 70px;
			height: 86px;
			top: 64px;
			left: 64px;
		}

		&-body {
			width: 200px;
			height: 200px;
			top: 70px;
			left: 0;
		}

		&-weapon {
			width: 100px;
			height: 150px;
			top: 128px;
			left: 106px;
			z-index: 2;
		}
	}
}
