.st-ThemeSwitch {
	.st-IconButton {
		box-shadow: none;
		border: none;
		background-color: transparent;
		width: auto;

		&:focus,
		&:active:focus {
			box-shadow: none;
			background-color: transparent;
			outline: none;
		}
	}
}
