@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryPagePicker {
	min-width: 220px;
	height: 36px;

	&__option {
		@include theme-aware('background-color', 'story-pagepicker-background');
		@include theme-aware('color', 'story-pagepicker-color');
		@include theme-aware('border-bottom', 'story-pagepicker-border');
		padding: 16px;

		.st-IconButton {
			width: 100%;
		}

		&:hover {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	&__control {
		box-shadow: none !important;
		flex-direction: row-reverse;
		outline: none;
		cursor: pointer !important;
		padding: 0 6px;
		@include theme-aware('border-color', 'story-pagepicker-background');
		@include theme-aware('background-color', 'story-pagepicker-background');

		&:hover {
			@include theme-aware('border-color', 'story-pagepicker-background');
		}

		&--menu-is-open {
			@include theme-aware('background-color', 'story-pagepicker-background');
		}
	}

	&__menu {
		@include theme-aware('background-color', 'story-pagepicker-background');

		&-list {
			overflow-x: hidden;
			padding-bottom: 0 !important;
		}
	}

	&__single-value {
		color: $color-grey-light !important;
	}

	&__indicator {
		color: $color-grey-light !important;

		&-separator {
			display: none;
		}
	}
}
