@import 'styles/variables.scss';

.st-Explore {
	display: flex;
	flex-direction: column;

	&-header {
		margin-bottom: 12px;

		@media (max-width: $breakpoint-m) {
			max-width: $story-preview-width-medium;
			margin: 0 auto;
		}

		@media (max-width: $breakpoint-sm) {
			max-width: $story-preview-width-small;
			margin: 0 auto;
		}
	}

	&-main {
		display: flex;

		@media (max-width: $breakpoint-m) {
			justify-content: center;
			flex-direction: column;

			.st-Categories {
				flex-direction: row;
				overflow: auto;

				> span {
					display: none;
				}
			}
		}

		.st-Stories,
		.st-StoryTabs,
		.st-Categories,
		&-holder {
			flex: 1 1;
		}

		&-holder {
			@media (max-width: $breakpoint-m) {
				&:last-child {
					display: none;
				}
			}
		}

		.st-Stories {
			margin: 0 36px;

			@media (max-width: $breakpoint-sm) {
				margin: 0;
			}
		}
	}
}
