@import '../../../../styles/variables.scss';

.st-CategoryPicker {
	min-width: 200px;

	> div {
		background: $gray-lighter !important;
		border: 1px solid $gray;
		color: $gray;
		border-radius: 3px;
		min-height: 50px;
		font-size: 14px;
	}

	.css-1pahdxg-control {
		box-shadow: 0 0 0 1px $color-primary;

		&:hover {
			border-color: $color-primary;
		}
	}
}
