@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-RecentViews {
	display: flex;
	flex-direction: column;

	&-no-items {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
