@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-RecentItems {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	margin-top: 8px;

	&-item {
		display: flex;
		align-items: center;
		padding: 12px;
		border-radius: 6px;
		margin-bottom: 8px;

		.st-Image {
			&-container {
				width: 80px;
				height: 80px;
				background: none;
			}
		}

		&-data {
			display: flex;
			flex-direction: column;
			margin-left: 12px;

			.st-Typography {
				&-action1 {
					margin-top: 8px;
				}
			}

			&-price {
				display: flex;
				margin-bottom: 8px;

				.st-Icon {
					width: auto;
					height: auto;
				}
			}
		}

		&:hover {
			@include theme-aware('background-color', 'B100');
		}
	}

	.st-Typography-bold {
		margin-bottom: 16px;
	}
}
