@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-Notifications {
	> button {
		box-shadow: none !important;
		background-color: transparent !important;
	}

	.dropdown-menu {
		@include theme-aware('background', 'B100');
		padding: 8px 6px;
	}

	&-notifications {
		padding: 14px;
		text-transform: uppercase;
	}

	&-page {
		max-width: $story-preview-width-medium;
		margin: 0 auto;

		@media (max-width: $breakpoint-sm) {
			margin-bottom: 50px;
			padding: 0 6px;
		}
	}

	&-bell {
		position: relative;
		@include theme-aware('color', 'G400');
		padding: 8px 12px;
		border-radius: 6px;

		@media (max-width: $breakpoint-sm) {
			padding: 0;
		}

		svg {
			font-size: 24px;
		}

		span {
			font-size: 12px;
		}

		.badge {
			padding: 4px 6px;
			border-radius: 16px;
			position: absolute !important;
			top: -12px !important;
			right: -12px;
		}

		&:hover {
			@include theme-aware('color', 'T600');
			@include theme-aware('background-color', 'B300');
		}
	}

	&-item {
		display: flex !important;
		flex-direction: column;
		white-space: normal !important;
		border-radius: 6px;
		border-bottom: 1px solid;
		@include theme-aware('border-color', 'R58');
		min-width: 300px;
		margin: 8px 0;
		padding: 12px 16px !important;

		&.active {
			@include theme-aware('background-color', 'T100');

			&:hover {
				@include theme-aware('background-color', 'T100');
			}
		}

		&:hover {
			@include theme-aware('background-color', 'B300');
		}

		p {
			@include theme-aware('color', 'G700');
			font-size: 14px;
			margin-bottom: 6px;

			span {
				@include theme-aware('color', 'G400');
			}
		}

		&-rewards {
			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;

			> span {
				display: flex;
				align-items: center;
				margin-right: 36px;

				svg {
					margin-right: 6px;
				}
			}
		}
	}
}
