@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-Followers {
	&-info {
		display: flex;
		flex-direction: column;
		align-items: left;
		cursor: pointer;
		padding: 8px 12px;
		border-radius: 6px;

		&:hover {
			@include theme-aware('background-color', 'story-list-background-hover');
		}

		span {
			font-weight: bold;
			font-size: 18px;
			@include theme-aware('color', 'user-info-title');

			&:last-child {
				color: $color-grey-medium;
				font-size: 14px;
				font-weight: normal;
				font-family: $font-lato;
			}
		}
	}

	&-followers {
		display: flex;
		flex-direction: column;
		max-height: 500px;
		overflow-y: auto;
		@include theme-aware('color', 'story-item-username-color');

		&-item {
			display: flex;
			align-items: center;
			margin: 15px 0;
			position: relative;

			&:hover {
				text-decoration: none;
			}

			.st-UserAvatar {
				.st-Image-container,
				.badge {
					margin-right: 16px;
				}
			}

			> span {
				font-weight: bold;
				font-family: $font-merriweather;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				max-width: 150px;
				@include theme-aware('color', 'story-item-username-color');
			}

			.st-IconButton {
				position: absolute;
				right: 10px;
			}
		}
	}
}
