@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-Followers {
	&.disabled {
		pointer-events: none;
		cursor: not-allowed;

		&:hover {
			background-color: transparent;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: left;
		cursor: pointer;
		padding: 8px 12px;
		border-radius: 6px;

		&:hover {
			@include theme-aware('background-color', 'B100');
		}

		span {
			font-weight: bold;
			font-size: 18px;
			@include theme-aware('color', 'G900');

			&:last-child {
				@include theme-aware('color', 'G500');
				font-size: 14px;
				font-weight: normal;
				font-family: $font-lato;
			}
		}
	}

	&-followers {
		display: flex;
		flex-direction: column;
		@include theme-aware('color', 'G500');

		&-item {
			display: flex;
			align-items: center;
			margin: 16px 0;
			position: relative;

			&:hover {
				text-decoration: none;
			}

			.st-UserAvatar {
				.st-Image-container,
				.badge {
					margin-right: 16px;
				}
			}

			> span {
				font-weight: bold;
				font-family: $font-merriweather;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				max-width: 150px;
				@include theme-aware('color', 'G900');
			}

			.st-IconButton {
				position: absolute;
				right: 10px;
			}
		}
	}
}
