@import 'styles/variables.scss';
@import 'styles/mixins/tab-links.scss';

.st-SideBar {
	display: flex;
	flex-direction: column;

	@media (max-width: $breakpoint-m) {
		width: 100%;
		max-width: $story-preview-width-medium;
		margin: 12px auto;
	}

	@media (max-width: $breakpoint-sm) {
		max-width: $story-preview-width-small;
	}

	&-tabs {
		margin: 0 16px 8px;

		@media (max-width: $breakpoint-m) {
			margin: 0;
		}

		.nav-link {
			@include tab-link;
		}
	}

	.st-Categories,
	.st-Languages {
		> span {
			display: none;
		}

		@media (max-width: $breakpoint-m) {
			flex-direction: row;
			overflow: auto;
			margin-top: 6px;
		}
	}
}
