@import '../../styles/variables.scss';
@import 'styles/mixins/tab-links.scss';

.st-StoryTabs {
	display: flex;
	flex-direction: column;

	&-tabs {
		.nav {
			margin-bottom: 12px;
		}

		.nav-link {
			@include tab-link;
		}

		.st-SavedStories,
		.st-DraftStories,
		.st-MyStories {
			> span {
				display: none;
			}

			.st-NoStories {
				display: none;
			}
		}

		> a {
			&:last-child {
				@include theme-aware('color', 'T600');
				margin-top: 12px;
				display: flex;
				justify-content: center;

				&:hover {
					@include theme-aware('color', 'T600');
				}
			}
		}
	}
}
