.st-StoryTabs {
	.st-DottedList {
		&-tabs {
			margin-right: 0;
			margin: 0 0 12px 0;
		}
	}
	.st-StoryList {
		> span {
			display: none;
		}

		.st-NoStories,
		.st-NoItemsPlaceholder {
			display: none;
		}
	}
}
