@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryThumb {
	display: flex;
	align-items: center;
	border-radius: 6px;
	margin: 8px 0;
	height: 120px;
	width: $story-preview-width-medium;
	cursor: pointer;
	position: relative;
	@include theme-aware('border', 'story-item-border');
	@include theme-aware('background', 'story-item-background');

	.st-StoryDropdownButton {
		position: absolute;
		top: 5px;
		right: 5px;
		z-index: 1;
	}

	@media (max-width: $breakpoint-sm) {
		width: $story-preview-width-small;
	}

	&:hover {
		text-decoration: none;
		box-shadow: $box-shadow-light;
		transition: all 0.2s ease-in;
	}

	&-cover {
		height: 100%;

		.st-Image {
			width: 120px;
			height: 100%;
			object-fit: cover;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;

			&-fallback {
				width: 120px;

				.st-Icon {
					border-top-left-radius: 6px;
					border-bottom-left-radius: 6px;
				}
				// border: none;
			}
		}
	}

	&-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 16px;
		height: 100%;
		width: 100%;

		&-description {
			display: flex;
			flex-direction: column;
			word-break: break-word;
			max-height: 100px;
			// overflow: hidden;

			> span {
				@include theme-aware('color', 'story-item-created-color');

				&:first-child {
					font-family: $font-merriweather;
					font-weight: bold;
					font-size: 16px;
					@include theme-aware('color', 'story-item-username-color');
				}
			}
		}

		&-created {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: 6px;

			span {
				color: $color-grey-medium;
			}
		}
	}
}
