@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryListItem {
	display: flex;
	align-items: center;
	min-width: $story-preview-width-small;
	max-width: $story-preview-width-medium;
	padding: 8px;
	border-radius: 6px;
	margin: 4px 0;
	cursor: pointer;

	&:hover,
	&:active {
		@include theme-aware('background', 'B100');
		text-decoration: none;
	}

	&-cover {
		.st-Image {
			&-container {
				width: 48px;
				height: 36px;
				margin-right: 12px;
				border-radius: 4px;
			}

			&-full {
				object-fit: cover;
			}

			&-fallback {
				width: 48px;
				height: 36px;
				margin-right: 12px;
				object-fit: cover;
				border: none;

				.st-Icon {
					border-radius: 4px;
				}
			}
		}
	}

	&-description {
		span {
			@include theme-aware('color', 'G500');
			font-family: $font-merriweather;
			font-weight: bold;
			font-size: 14px;
		}
	}
}
