@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryThumb {
	display: flex;
	align-items: center;
	border-radius: 6px;
	margin: 8px 0;
	height: 120px;
	width: $story-preview-width-medium;
	cursor: pointer;
	position: relative;
	box-shadow: 2px 2px 12px rgba(35, 31, 26, 0.04);
	@include theme-aware('background-color', 'B100');

	.st-StoryDropdownButton {
		position: absolute;
		top: 4px;
		right: 4px;
		z-index: 1;
	}

	@media (max-width: $breakpoint-sm) {
		width: $story-preview-width-small;
	}

	&:hover {
		text-decoration: none;
	}

	&-cover {
		height: 100%;

		.st-Image-container {
			width: 120px;
			height: 100%;
			object-fit: cover;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;

			.st-Image-full {
				object-fit: cover;
			}

			&-fallback {
				width: 120px;

				.st-Icon {
					border-top-left-radius: 6px;
					border-bottom-left-radius: 6px;
				}
			}
		}
	}

	&-details {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 16px;
		height: 100%;
		width: 100%;

		&-description {
			display: flex;
			flex-direction: column;
			word-break: break-word;
			max-height: 100px;

			> span {
				@include theme-aware('color', 'G400');

				&:first-child {
					font-family: $font-merriweather;
					font-weight: bold;
					font-size: 16px;

					@include theme-aware('color', 'G900');
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}

		&-created {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			margin-top: 6px;

			span {
				@include theme-aware('color', 'G400');
			}
		}
	}
}
