@import 'styles/variables.scss';
@import 'styles/mixins/tab-links.scss';
@import 'styles/themes/mixins.scss';

.st-Stories {
	min-width: $story-preview-width-medium;

	@media (max-width: $breakpoint-sm) {
		max-width: $story-preview-width-medium;
		min-width: unset;
		width: 100%;
	}

	.st-Loader {
		min-height: 400px;
		min-width: $story-preview-width-medium;

		@media (max-width: $breakpoint-sm) {
			max-width: $story-preview-width-medium;
			min-width: unset;
			width: 100%;
		}
	}

	.st-FloatingInput {
		margin-bottom: 0 !important;
		margin-top: 16px;
	}

	&-header {
		width: 100%;
		display: flex;
		flex-wrap: nowrap !important;
		overflow: auto;
		max-width: $story-preview-width-medium;
		margin: 0 auto;

		.nav-link {
			@include tab-link;
		}
	}
}
