@import '../../styles/variables.scss';

.st-UserSettings {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 24px;

	.st-Uploader {
		margin-bottom: 24px;
		@media (max-width: $breakpoint-m) {
			width: $story-preview-width-small;
		}

		&-thumbs {
			display: flex;
			justify-content: center;

			.st-Image {
				&-container,
				&-fallback {
					border-radius: 50%;
					height: 200px;
					width: 200px;
				}
			}
		}
	}

	&-info {
		min-width: 400px;

		@media (max-width: $breakpoint-m) {
			min-width: $story-preview-width-small;
		}

		.st-IconButton {
			width: 100%;
		}
	}
}
