@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-UserProfile {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: $story-preview-width-medium;
	width: 100%;
	margin: 0 auto;

	&-user {
		display: flex;
		margin-bottom: 32px;
		min-height: 150px;

		@media (max-width: $breakpoint-sm) {
			max-width: $story-preview-width-small;
			flex-direction: column;
			align-items: center;
			margin-top: 36px;
		}

		.st-Loader {
			justify-content: center;
		}

		&-info {
			display: flex;
			flex-direction: column;

			&-description {
				display: flex;
				flex-direction: column;
				margin-bottom: 12px;

				@media (max-width: $breakpoint-sm) {
					align-items: center;
					margin-bottom: 24px;
				}

				span {
					font-family: $font-merriweather;
					font-weight: bold;
					font-size: 18px;
					@include theme-aware('color', 'G900');

					&:last-child {
						font-size: 14px;
						font-weight: normal;
						font-family: $font-lato;
						@include theme-aware('color', 'G500');

						@media (max-width: $breakpoint-sm) {
							margin-top: 6px;
						}
					}

					@media (max-width: $breakpoint-sm) {
						margin-top: 16px;
					}
				}
			}

			&-stats {
				display: flex;
				margin-bottom: 24px;

				> div {
					margin-right: 16px;

					@media (max-width: $breakpoint-sm) {
						margin-right: 16px;
					}

					&:last-child {
						margin-right: 0;
					}
				}

				&-stories {
					display: flex;
					flex-direction: column;
					align-items: left;
					padding: 8px 2px;

					span {
						font-weight: bold;
						font-size: 18px;
						@include theme-aware('color', 'G900');

						&:last-child {
							font-size: 14px;
							font-weight: normal;
							font-family: $font-lato;
							@include theme-aware('color', 'G500');
						}
					}
				}

				@media (max-width: $breakpoint-sm) {
					align-items: center;
					justify-content: space-between;
					width: 300px;
				}
			}
		}

		.st-UserAvatar {
			&:hover {
				opacity: 1;
			}

			.st-Image-container,
			.badge {
				font-size: 36px;
				width: 120px;
				height: 120px;
				margin-right: 36px;

				@media (max-width: $breakpoint-sm) {
					margin-right: 0;
				}
			}
		}
	}
}
