@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-UserAvatar {
	.st-Image-full {
		object-fit: cover;
	}

	.st-Image-container,
	.badge {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		object-fit: cover;
	}

	.badge {
		font-family: $font-lato;
		font-size: 18px;
		font-weight: 600;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		@include theme-aware('color', 'T700');
	}

	.bg-primary {
		@include theme-aware('background-color', 'T400');
	}

	&:hover {
		opacity: 0.7;
	}
}
