@import '../../styles/variables.scss';

.st-Login {
	display: flex !important;
	align-items: center;
	justify-content: center;

	.modal {
		width: 617px;
		&-header {
			justify-content: center;
			border-bottom: none;
			float: right;
			height: 10px;
			width: 100px;
			align-self: flex-end;
		}
		.close {
			position: absolute;
			right: 14px;
			top: 0px;
			margin: 0;
			outline: none;
		}
	
	}

	&-body {
		display: flex;
		flex-direction: row;
		@media (max-width: $tablet-width) {
			min-width: unset;
			.fs-Button {
				margin-top: 10px;
				width: 100%;
			}
		}

	}
	.modalFlex{
		display: flex;
	}
}
