@import 'styles/variables.scss';

.st-ErrorPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: calc(100% - 200px);

	svg {
		margin-bottom: 36px;
	}

	.st-Typography-variant__action1 {
		margin-top: 16px;
		max-width: 356px;
		text-align: center;
	}

	.st-IconButton {
		margin-top: 36px;
	}
}
