body {
	// margin: 0;
	// font-family: 'Montserrat', sans-serif;
	display: flex;
	min-height: 100vh;
	background-image: url('images/testBackground.jpg');
	background-position: center;
}

#root {
	width: 90%;
	height: 100vh;
	// max-width: 1220px;
	margin: 0 auto;
}
