@import 'styles/variables.scss';

.st-NotFound {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 200px);

	@media (max-width: $breakpoint-sm) {
		flex-direction: column;
	}

	&-trees {
		flex: 1 1 0;
		display: flex;
		justify-content: center;
	}

	&-error {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;

		@media (max-width: $breakpoint-sm) {
			align-items: center;
		}

		> span {
			margin-bottom: 36px;

			&:first-child {
				font-family: $font-merriweather;
				font-weight: 900;
				font-size: 48px;
				color: $color-primary-dark;

				@media (max-width: $breakpoint-sm) {
					font-size: 32px;
				}
			}

			&:nth-child(2) {
				font-family: $font-merriweather;
				font-weight: 900;
				font-size: 32px;
				color: $color-secondary-black;

				@media (max-width: $breakpoint-sm) {
					font-size: 18px;
				}
			}

			&:nth-child(3) {
				color: $color-grey-medium;
			}
		}
	}
}
