@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-NotFound {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 200px);

	@media (max-width: $breakpoint-sm) {
		flex-direction: column;
	}

	&-trees {
		flex: 1 1 0;
		display: flex;
		justify-content: center;

		svg {
			g {
				path {
					@include theme-aware('fill', 'tree-svg-first-path');
				}

				&:nth-child(2) {
					path {
						@include theme-aware('fill', 'tree-svg-second-path');
					}
				}

				&:first-child {
					path {
						@include theme-aware('fill', 'tree-svg-last-path');
					}
				}
			}
		}
	}

	&-error {
		flex: 1 1 0;
		display: flex;
		flex-direction: column;

		@media (max-width: $breakpoint-sm) {
			align-items: center;
		}

		> span {
			margin-bottom: 36px;

			&:first-child {
				font-family: $font-merriweather;
				font-weight: 900;
				font-size: 48px;
				color: $color-primary-dark;

				@media (max-width: $breakpoint-sm) {
					font-size: 32px;
				}
			}

			&:nth-child(3) {
				color: $color-grey-medium;
			}
		}

		&-button {
			display: flex;
		}
	}
}
