@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-Password {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: $story-preview-width-medium;
	padding: 36px;
	margin: 0 auto;
	border-radius: 6px;
	border: 1px solid;
	@include theme-aware('border-color', 'G100');

	@media (max-width: $breakpoint-sm) {
		width: 100%;
		height: calc(100% - 60px);
	}

	h4 {
		margin-bottom: 24px;
	}

	.st-IconButton {
		width: 100%;
	}
}
