@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-StoryPagePicker {
	min-width: 220px;
	height: 40px;

	&__option {
		@include theme-aware('background-color', 'B100');
		@include theme-aware('color', 'G700');
		max-width: 202px;
		padding: 8px 14px;
		margin: 4px 8px;
		border-radius: 6px;

		.st-IconButton {
			width: 100%;
		}

		&:hover {
			cursor: pointer;
			text-decoration: underline;
			@include theme-aware('text-decoration-color', 'B100');
			@include theme-aware('background-color', 'B300');
		}
	}

	&__control {
		box-shadow: none !important;
		flex-direction: row-reverse;
		outline: none;
		cursor: pointer !important;
		padding: 0px 6px;
		height: 36px;
		border: 1px solid;
		@include theme-aware('border-color', 'B100');
		@include theme-aware('background-color', 'B100');

		&:hover {
			@include theme-aware('border-color', 'B300');
			@include theme-aware('background-color', 'B300');
		}

		&--menu-is-open {
			@include theme-aware('border-color', 'B300');
			@include theme-aware('background-color', 'B300');
		}
	}

	&__menu {
		@include theme-aware('background-color', 'B100');

		&-list {
			overflow-x: hidden;
			padding-bottom: 0 !important;
		}
	}

	&__single-value {
		@include theme-aware('color', 'G500');
	}

	&__indicator {
		@include theme-aware('color', 'G400');

		&-separator {
			display: none;
		}
	}

	&-button {
		&:hover {
			@include theme-aware('background-color', 'B100');
		}
	}
}
