@import 'styles/themes/mixins.scss';

@mixin tab-link {
	font-weight: 600;
	cursor: pointer;
	font-size: 14px;
	padding: 0;
	margin-right: 15px;

	@include theme-aware('color', 'G400');

	&:hover {
		@include theme-aware('color', 'G600');
	}

	&.active {
		@include theme-aware('color', 'G900');
		border-bottom: 4px dotted;
		@include theme-aware('border-color', 'T600');
	}
}

@mixin sidebar-link {
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 14px;
	padding-left: 16px;
	@include theme-aware('color', 'G400');

	@media (max-width: $breakpoint-m) {
		padding-left: 8px;
		padding-right: 8px;
		margin-right: 10px;
		width: max-content;
	}

	&:hover {
		@include theme-aware('color', 'G900');
		@include theme-aware('background-color', 'B100');
		border-radius: 4px;
	}

	&.active {
		@include theme-aware('color', 'G900');
		@include theme-aware('background-color', 'B200');
	}
}
