@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-DesktopNav {
	align-content: center;
	height: 60px;
	padding: 0 !important;
	margin: 24px 0;
	position: sticky !important;
	z-index: 1;
	top: 0;
	@include theme-aware('background', 'B200');

	.st-Loader {
		height: 100vh;
	}

	@media (max-width: $breakpoint-m) {
		display: flex;
		// flex-direction: column;
		padding: 5px 0;
		flex-wrap: nowrap !important;
		height: auto;
	}

	@media (max-width: $breakpoint-sm) {
		max-width: $story-preview-width-small;
		margin: 0 auto;

		&:before,
		&:after {
			content: '';
			top: 0;
			position: absolute;
			width: 10px;
			height: 100%;
			@include theme-aware('background', 'B200');
		}

		&:before {
			left: -10px;
		}

		&:after {
			right: -10px;
		}
	}

	.st-StoryPicker {
		flex: 1 1 0;

		@media (max-width: $breakpoint-sm) {
			display: none;
		}
	}

	.nav {
		align-items: center;
		flex-wrap: nowrap;
		flex: 1 1 0;

		@media (max-width: $breakpoint-sm) {
			flex: unset;
		}
	}

	&-status {
		justify-content: flex-end;

		.st-IconButton {
			margin-right: 24px;
			width: 112px;

			&-link {
				margin-right: 24px;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		.st-Notifications {
			margin-right: 24px;
		}

		@media (max-width: $breakpoint-sm) {
			order: 3;
		}

		&-signedOut {
			display: flex;
			align-items: center;

			@media (max-width: $breakpoint-sm) {
				padding: 10px 0;
			}
		}

		&-signedIn {
			display: flex;
			align-items: center;

			@media (max-width: $breakpoint-m) {
				.st-IconButton-link {
					display: none !important;
				}
			}

			@media (max-width: $breakpoint-sm) {
				.st-IconButton {
					display: none;
				}
			}

			.st-DropdownButton {
				> button {
					padding: 0;
					border-radius: 50%;
					background-color: transparent;
					border: none;

					@media (max-width: $breakpoint-sm) {
						border: none;
						padding: 10px 0;
					}

					&:focus {
						box-shadow: none;
					}
				}
			}
		}
	}

	&-feed {
		justify-content: flex-start;

		@media (max-width: $breakpoint-sm) {
			width: calc(100% - 98px);
			justify-content: space-between;
		}

		.nav-item {
			.nav-link {
				font-size: 16px;
				@include theme-aware('color', 'G400');
				text-decoration: none;
				font-weight: bold;
				padding: 8px 12px;
				margin-right: 24px;
				border-radius: 6px;

				@media (max-width: $breakpoint-m) {
					margin-right: 24px;

					span {
						display: none;
					}
				}

				@media (max-width: $breakpoint-sm) {
					margin-right: 0;
					padding: 0;
				}

				&:hover {
					@include theme-aware('background-color', 'B100');
				}

				&.active {
					@include theme-aware('color', 'T600');
				}

				.fa {
					&-home,
					&-compass {
						font-size: 20px;
						margin-right: 10px;

						@media (max-width: $breakpoint-m) {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}
