@import 'styles/variables.scss';
@import 'styles/themes/mixins.scss';

.st-MobileNav {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1030;
	width: 100%;
	justify-content: space-around;
	padding: 6px;
	@include theme-aware('background-color', 'B100');
	@include theme-aware('box-shadow', 'card-shadow');

	.navbar {
		width: 100%;

		.nav-item {
			flex: 1;

			&:first-child {
				margin-right: 12px;
			}
		}
	}

	&-user {
		padding: 24px;
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid;

		.st-UserAvatar {
			margin-bottom: 12px;

			.badge {
				height: 80px;
				width: 80px;
				font-size: 36px;
			}

			.st-Image-container {
				height: 80px;
				width: 80px;
			}
		}

		.placeholder-18-black {
			margin-bottom: 6px;
		}

		@include theme-aware('border-color', 'B300');
	}

	&-items {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: calc(100% - 200px);

		.fa-user,
		.fa-align-left,
		.fa-cog,
		.fa-bookmark,
		.fa-file-archive,
		.fa-sign-out-alt {
			margin-right: 16px;
			@include theme-aware('color', 'T600');
		}

		.nav-link {
			padding: 12px 22px;
			border-bottom: 1px solid;
			@include theme-aware('color', 'G700');
			@include theme-aware('border-color', 'B300');

			&:nth-child(4) {
				border-bottom: none;
			}

			&:last-child {
				border-top: 1px solid;
				@include theme-aware('border-color', 'B300');
			}
		}
	}
}
