@import '../../styles/variables.scss';

.st-Nav {
	align-content: center;
	height: 60px;
	padding: 0 !important;
	margin: 24px 0;
	background: $color-background;
	position: sticky !important;
	z-index: 1;
	top: 0;

	.st-Loader {
		height: 100vh;
	}

	@media (max-width: $breakpoint-m) {
		display: flex;
		// flex-direction: column;
		padding: 5px 0;
		flex-wrap: nowrap !important;
		height: auto;
	}

	@media (max-width: $breakpoint-sm) {
		max-width: $story-preview-width-small;
		margin: 0 auto;
	}

	.st-StoryPicker {
		flex: 1 1 0;

		@media (max-width: $breakpoint-sm) {
			display: none;
		}
	}

	.nav {
		align-items: center;
		flex-wrap: nowrap;
		flex: 1 1 0;

		@media (max-width: $breakpoint-sm) {
			flex: unset;
		}
	}

	&-status {
		justify-content: flex-end;

		@media (max-width: $breakpoint-sm) {
			order: 3;
		}
	}

	&-feed {
		justify-content: flex-start;

		@media (max-width: $breakpoint-sm) {
			flex-basis: 70% !important;
			justify-content: space-between;
		}

		.nav-item {
			.nav-link {
				font-size: 16px;
				color: $color-grey-light;
				text-decoration: none;
				font-weight: bold;
				padding: 8px 12px;
				margin-right: 36px;
				border-radius: 6px;

				@media (max-width: $breakpoint-sm) {
					margin-right: 0;
					padding: 0;

					span {
						display: none;
					}
				}

				&:hover {
					background-color: $color-white;
				}

				&.active {
					color: $color-primary;
				}

				.fa {
					&-home,
					&-compass {
						font-size: 20px;
						margin-right: 10px;

						@media (max-width: $breakpoint-sm) {
							margin-right: 0;
						}
					}
				}
			}
		}
	}

	// .nav-item {
	// 	.nav-link {
	// 		font-size: 14px;
	// 		color: $color-grey-light;
	// 		text-decoration: none;
	// 		font-weight: 500;
	// 	}
	// }

	&-user {
		display: flex;
		align-items: center;

		@media (max-width: $breakpoint-sm) {
			.nav-link {
				display: none;
			}
		}

		.st-DropdownButton {
			> button {
				padding: 5px;
				border-radius: 50%;

				@media (max-width: $breakpoint-sm) {
					border: none;
					padding: 0;
					background-color: transparent;
				}

				&:focus {
					box-shadow: none;
				}
			}
		}
	}

	&-login {
		.nav-link {
			color: $color-primary !important;
		}
	}
}
