@import '../../styles/variables.scss';

.st-Nav {
	@media (max-width: $tablet-width) {
		display: none;
	}

	.navbar {
		padding: $spacing-s $spacing-xs;
	}

	.nav {
		align-items: center;
	}

	.nav-item {
		.nav-link {
			font-size: 14px;
			color: $color-secondary;
			text-decoration: none;
			font-weight: 500;
		}
	}

	.fs-Button {
		min-height: 40px;
		border-radius: 50px !important;
	}

	&-user {
		.nav-link {
			display: flex;
			align-items: center;
			text-transform: capitalize;

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				margin-left: 20px;
			}
		}
	}

	&-login {
		.nav-link {
			color: $button-primary !important;
		}
	}
}
