@import '../../styles/variables.scss';

.st-Nav {
	align-content: center;
	height: 60px;
	padding: 0 !important;
	margin: 24px 0;
	background: #fff;
	position: sticky !important;
	z-index: 1;
	top: 0;

	.st-Loader {
		height: 100vh;
	}

	@media (max-width: $breakpoint-m) {
		display: flex;
		flex-direction: column;
		padding: 0;
		flex-wrap: nowrap !important;
		height: auto;
	}

	.st-StoryPicker {
		flex: 1 1 0;

		@media (max-width: $breakpoint-sm) {
			order: 1;
		}
	}

	.nav {
		align-items: center;
		flex-wrap: nowrap;
		flex: 1 1 0;
	}

	&-status {
		justify-content: flex-end;

		@media (max-width: $breakpoint-sm) {
			order: 3;
		}
	}

	&-feed {
		justify-content: flex-start;

		.nav-item {
			.nav-link {
				font-size: 16px;
				color: $color-grey-light;
				text-decoration: none;
				font-weight: bold;
				padding: 0;
				margin-right: 36px;

				&.active {
					color: $color-primary;
				}

				.fa {
					&-home,
					&-compass {
						font-size: 20px;
						margin-right: 10px;
					}
				}
			}
		}
	}

	// .nav-item {
	// 	.nav-link {
	// 		font-size: 14px;
	// 		color: $color-grey-light;
	// 		text-decoration: none;
	// 		font-weight: 500;
	// 	}
	// }

	&-user {
		display: flex;
		align-items: center;

		@media (max-width: $breakpoint-sm) {
			.nav-link {
				display: none;
			}
		}

		.dropdown {
			&-toggle {
				display: flex;
				justify-content: center;
				align-items: center;
				background: none !important;
				border: none;

				.st-Image,
				.badge {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					margin-right: 15px;
					object-fit: cover;
				}

				.badge {
					font-size: 20px;
					display: flex;
					justify-content: center;
					align-items: center;
					text-transform: uppercase;
				}
			}
		}
	}

	&-login {
		.nav-link {
			color: $color-primary !important;
		}
	}
}
